:root{
  --color-fondo:#fff;
  --color-arribaDeFondo: #fff;
  --color-bacgroundMenu: #333333a4;
  --color-texto: #000;
  --color-cajas: #dedede;
  --color-fondoMenu: rgba(0, 0, 0, 0.1);
  --color-itenMenu: #fff;
  --color-hoverTexto: #000;
  --color-icon: #000;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-arribaDeFondo); 
}
.menu-toggle {
  position: fixed;
  height: 20px;
  width: 20px;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  display: block; 
}
.menu-toggle .icon::before {
  content: '>';
  display: block;
  width: 100%;
  height: 100%;
  font-size: 30px; 
  color: var(--color-icon); 
  position: absolute;
  transition: transform 0.3s ease;
}

.menu-toggle .icon.open::before {
  transform: rotate(180deg); 

}


.menu {
  position: fixed;
  top: -30px;
  left: -280px;
  height: 100%;
  box-shadow: 0 0 10px var(--color-fondoMenu);
  padding-top: 60px;
  transition: transform 0.3s ease;
  z-index: 1050;
}

.menu-open {
  transform: translateX(280px);
}

.menu-open .menu {
  transform: translateX(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px;
  border-bottom: 1px solid var(--color-cajas);
  transition: transform 0.3s ease; 
}

.menu li:hover {
    transform: translateX(10px); 
}


.menu a {
  text-decoration: none;
  color: var(--color-itenMenu);
}

.menu a:hover {
  color: var(--color-hoverTexto);
}

.menu li:last-child {
  border-bottom: none;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-arribaDeFondo);
  border-radius: 10px;
}
 

@media screen and (max-width: 900px) {
  iframe{
    width: 300px;
    height: 559px;
  }
    .navbar-menu {
        flex-direction: column;
        background-color: var(--color-bacgroundMenu);
        top: 10px;
        left: 0;
        width: 200px; 
        padding: 10px;
        z-index: 1000; 
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 20px 0;
    }

    .navbar-toggle {
        display: flex;
        align-items: center;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1001; 
    }

   
}


@media screen and (min-width: 1001px) {
    
   iframe{
    width: 300px;
    height: 559px;
  }
    .navbar-menu {
        flex-direction: column;
        background-color: var(--color-bacgroundMenu);
        top: 10px;
        left: 0;
        width: 200px; 
        padding: 10px;
        z-index: 1000; 
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 20px 0;
    }

    .navbar-toggle {
        display: flex;
        align-items: center;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1001; 
    }

  }
  

section {
    padding: 20px;
    margin-bottom: 20px; 
    background-color: var(--color-cajas); 
    border-radius: 5px; 
    color: var(--color-texto); 
}
.perfil-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.texto {
    width: 50%; 
}

.imagen {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
    position: relative;
    display: flex;
    top: 10px;
}
.imagen img {
    width: 100%; 
    height: 100%;
    display: block;
    object-fit: cover;  
}
#proyectos {
    text-align: center;
}

.proyecto {
    display: inline-block;
    margin: 20px;
    text-align: left;
}

.proyecto img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.proyecto p {
    margin-top: 10px;
}
.btn-download {
    display: inline-block;
    background-color:color-mix(in hsl shorter hue, black 50%, grey 20%);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-download:hover {
    background-color: #fff;
    color: color-mix(in hsl shorter hue, black 50%, grey 20%) ;
}

/* Estilos para el contenedor de la pantalla de carga */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Estilos para el péndulo */
  .spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
    border-top-color: transparent; 
    animation: spin 1s linear infinite; 
  }
  
  /* Animación de giro */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Estilos para los círculos blancos */
  .spinner::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -20px;
    left: calc(50% - 7.5px); 
    animation: scale 1s infinite alternate; 
  }
  
  /* Animación de escala */
  @keyframes scale {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  